html * {
	margin: 0;
	/*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
#top {
	margin-top: 60px;
	margin-left: 30px;
	width: 228px;
	float: left;
}

.spinner {
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
}

/* FIXME to remove. Workaround for JQuery 1.7 + IE 9.0. First option in selection, last word truncated */
#wizardForm {
	border: 1px solid black;
}

/*	background: #fff;*/
body {
	background: #E6F0E6;
	color: #333;
	font: 11px verdana, arial, helvetica, sans-serif;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#testbackground {
	background: #E6F0E6;
}

#background {
	background: #fff;
}

#testtext {
   position: absolute; 
   top: 44%;
   left: 44%;
   z-index: -1;
   overflow: hidden;
   color: red;
   text-align: center;
   font-size: 120px;
   -ms-transform: rotate(-45deg);
}

#text {
   visibility: hidden;
}

#eimLogo {
	padding: 20px;
}

#underConstruction {
	text-align: center;
	font: 30px verdana, arial, helvetica, sans-serif;
	color: black;
}

#eimApp {
	padding: 10px;
	float: right;
	color: #48802c;
	font-weight: bold;
	font-size: 24px;
	text-align: right;
}

#reportArea {
	padding: 5px;
	margin-top: 20px;
	border: 1px solid #ccc;
	heigth: 100%;
}

a:link,a:visited,a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .3em 0;
}

ul {
	padding-left: 15px;
}

input,select,textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus,select:focus,textarea:focus {
	border: 1px solid #b2d1ff;
}

.body {
	float: left;
	margin: 0 15px 10px 15px;
}

#eimUser {
	background: url(/resources/images/skin/businessman.png) bottom left
		no-repeat;
	padding-left: 25px;
	padding-top: 5px;
	float: right;
	color: #48802c;
	font-weight: bold;
	font-size: 10px;
	text-align: right;
}

/* NAVIGATION MENU */
.nav {
	background: #fff url(/resources/images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.menuButton {
	font-size: 10px;
	padding: 0 5px;
}

.menuButton a {
	color: #333;
	padding: 4px 6px;
}

.menuButton a.home {
	background: url(/resources/images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.list {
	background: url(/resources/images/skin/database_table.png) center left
		no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.create {
	background: url(/resources/images/skin/database_add.png) center left
		no-repeat;
	color: #333;
	padding-left: 25px;
}

/* MESSAGES AND ERRORS */
.message {
	background: #f3f8fc url(/resources/images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px
}

div.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(/resources/images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

td.errors textarea {
	border: 1px solid red;
}

/* TABLES */
table {
	border: 1px solid #ccc;
	width: 95%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr {
	border: 0;
}

th {
	background-color: #f0f0f0;
}



.nav td,th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

.nav th {
	background: #fff url(/resources/images/skin/shadow.jpg);
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
}

th a:link,th a:visited,th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

th.asc a,th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(/resources/images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(/resources/images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

.selected {
	background: #ffAEC9;
}

/* CASHFLOWFORECAST TABLE */
.eimReport table {
	border: 1px solid #ccc;
	width: 100%
}

.eimReport tr {
	border: 0;
}

.eimReport td,th {
	font: 12px calibri;
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

.eimReport th {
	font: 12px calibri;
	background: #002B7F;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
}

.eimReport th a:link,th a:visited,th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

.eimReport th.asc a,th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

.eimReport th.asc a {
	background-image: url(/resources/images/skin/sorted_asc.gif);
}

.eimReport th.desc a {
	background-image: url(/resources/images/skin/sorted_desc.gif);
}

.eimReport .odd {
	background: #f7f7f7;
}

.eimReport .even {
	background: #fff;
}

.eimReport .selected {
	background: #ffAEC9;
}

/* LIST */
.list table {
	border-collapse: collapse;
}

.list th,.list td {
	border-left: 1px solid #ddd;
}

.list th:hover,.list tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */
.paginateButtons {
	background: #fff url(/resources/images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/* DIALOG */
.dialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
}

.prop .name {
	text-align: left;
	width: 15%;
	white-space: nowrap;
}

.prop .value {
	text-align: left;
	width: 85%;
}

/* ACTION BUTTONS */
.buttons {
	background: #fff url(/resources/images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #666;
	font-size: 10px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
}

.buttons input {
	background: #fff;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}

.buttons input.delete {
	background: transparent url(/resources/images/skin/database_delete.png)
		5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(/resources/images/skin/database_edit.png)
		5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(/resources/images/skin/database_save.png)
		5px 50% no-repeat;
	padding-left: 28px;
}

div {
	border: 1px;
	margin: 0;
	padding: 0;
	overflow: none;
}

.reportArea {
	position: relative;
	border: 1px;
	margin: 0;
	padding: 0;
	background: red;
	overflow: auto;
}

#nav {
	margin-top: 0px;
	margin-left: 0px;
	width: 270px;
	float: left;
}

.homePagePanel * {
	margin: 0px;
}

.homePagePanel .panelBody ul {
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 20px;
}

.homePagePanel .panelBody h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	margin-bottom: 10px;
	margin-left: 20px;
}

.homePagePanel .panelBody {
	background: url(/resources/images/leftnav_midstretch.png) repeat-y top;
	margin: 0px;
	padding: 15px;
}

.homePagePanel .panelBtm {
	background: url(/resources/images/leftnav_btm.png) no-repeat top;
	height: 20px;
	margin: 0px;
}

.homePagePanel .panelTop {
	background: url(/resources/images/leftnav_top.png) no-repeat top;
	height: 11px;
	margin: 0px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.2em;
}

body {
	height: 100%;
	width: 100%;
}

#pageBody {
	position: absolute;
	height: 85%;
	width: 100%;
	float: top;
}

.bodyMargin {
	position: absolute;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

#reportFrame {
	border: solid 1px;
}

.progressIndicatorStyle {
	background-color: white;
	width: 300px;
	height: 200px;
	border: solid 0px black;
	top: 40%;
	left: 40%;
	z-index: 99999;
	position: absolute;
	display: block;
	text-align: center;
}

table {
	border: none;
}

#dialog {
	text-align: center;
	vertical-align: middle;
}

#dialog * {
	margin: 10px;
}

#dialog a {
	text-decoration: underline;
	font-weight: normal;
}

.form ul {
	list-style-type: none;
}
.form label:before { 
	content: '\00000A';
}


.content {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

}