{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h2>List of all back tests</h2>
<div class="topRight"><a href="/backtest/create">New backtest</a></div>
<table>
{% for backtest in backtests %}
			<tr><td>{{backtest.name}}</td><td><a href="/backtests/{{backtest.id}}/edit">Edit</a></td><td><a href="/backtests/{{backtest.id}}/run">Run</a></tr>
{% endfor %}
</table>

</div>

{% endblock %}
