{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h1>Backtest {{cluster.name}}</h1>
</div>

<div>
	<h2>Define parameters</h2>
	
	<form action="/backtest_cluster/create" method="post" class="form">
		{% csrf_token %}
		<table>
	 	{{ form.as_table }}
		</table>
		<div>
			<input class="redirectTo" type="submit" name="Submit" value="Create cluster" />
		</div>
	</form>
</div>

{% endblock %}
