{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h1>{{cluster.name}}</h1>
</div>

<div>
	<h2>Available stats</h2>
	
	<table>
	{% for stat in stats %}
				<tr><td><a href="/cluster/{{cluster.id}}/stat/{{stat.id}}">{{stat.label}}</a></td></tr>
	{% endfor %}
	</table>
</div>

<div>
	<h2>Cluster composition</h2>
	
	<table>
	{% for single in cluster.singles %}
				<tr><td>{{single.name}}</td></tr>
	{% endfor %}
	</table>
</div>


{% endblock %}
