{% extends "index_layout.html" %}

{% block index_content %}

{% if error_message %}
<div class="errors">{{error_message}}</div>
{% endif %}

<div>
	<h1>Define weight constraints</h1>
</div>

<form action="/backtest/{{ back_test_id }}/constraints" method="post" class="form">
	{% csrf_token %}
	<table>
	<thead>
		<tr>
			<th class="header">Security</th>
			<th class="header">Min</th>
			<th class="header">Max</th>
		</tr>
	</thead>
	<tbody>
		{% for weight_constraint_form_item in weight_constraint_form_items %}
			<tr>
				<td>{{ weight_constraint_form_item.entity.name }}</td>
				<td><input type="text" name="min{{ weight_constraint_form_item.entity.id }}" value="{{ weight_constraint_form_item.min }}" />{{ weight_constraint_form_item.min_error }}</td>
				<td><input type="text" name="max{{ weight_constraint_form_item.entity.id }}" value="{{ weight_constraint_form_item.max }}" />{{ weight_constraint_form_item.max_error }}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<div>
		<input class="redirectTo" type="submit" name="Submit" value="Save constraints" />
	</div>
</form>

{% endblock %}

