{% extends "index_layout.html" %}

{% block index_content %}

{% if error_message %}
<div class="errors">{{error_message}}</div>
{% endif %}

<form action="/portfolio/create" method="post" class="form">
	{% csrf_token %}
	<table>
 	{{ form.as_table }}
	</table>
	<div>
		<input class="redirectTo" type="submit" name="Submit" value="Create portfolio" />
	</div>
</form>

{% endblock %}

