{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h2>List of all existing clusters</h2>

<table>
{% for cluster in clusters %}
			<tr><td><a href="/cluster/{{cluster.id}}">{{cluster.name}}</a></td></tr>
{% endfor %}
</table>

</div>

{% endblock %}
