{% extends "layout.html" %}

{% block specialHeader %}

{% block indexSpecialHeader %}
{% endblock indexSpecialHeader %}
{% endblock specialHeader %}

{% block body_content%}
	<div class="nav">
		<span class="menuButton">
			{% block index_menu %}
				<a class="home" href="/">Home</a>
				<a href="/RiskParity">Risk Parity</a>
				<a href="/portfolio/load">Load portfolio</a>
			{% endblock index_menu %}
		</span>
	</div>
	<br />
	<h5 id="status"></h5>

	<div id="progressDisplay" class="progress">
		<div id="progress-bar"><span></span></div>
		<div id="progressValue"></div>
		<br />
		Generation in progress...		
	</div>
	
	<div class="content">
	{% block index_content %}
	{% endblock index_content %}
	</div>
{% endblock body_content%}
