{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h1>Backtest creation</h1>
</div>

<div>
	<h2>Available clusters</h2>
	
	<table>
	{% for cluster in clusters %}
				<tr><td><a href="/cluster/{{cluster.id}}">{{cluster.name}}</a></td></tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
