<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<meta charset="utf-8"/>
    	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Language" value="en-US"/>

        <title>{% block title %}SAA Tool{% if VERSION == "DEV" %} (dev){% else %}{% if not PROD %} (test){% endif %}{% endif %}{% endblock title %}</title>
        <link rel="icon" href="/static/favicon.ico" type="x-icon"/> 
        <link rel="shortcut icon" href="/static/favicon.ico" type="x-icon"/> 

        <link rel="stylesheet" href="/resources/css/main.css"/>
		<link rel="stylesheet" href="/resources/css/jquery.ui.all.css"/>
		
       	{% block specialHeader %}
        {% endblock specialHeader %}
       
       	<script language="JavaScript" src="/resources/js/jquery-1.7.min.js" type="text/javascript"></script>
      	<script language="JavaScript" src="/resources/js/jquery-ui.js" type="text/javascript"></script>            	
      	<script language="JavaScript" type="text/javascript" src="/resources/js/jquery.form.js"></script>
		<script language="JavaScript" type="text/javascript" src="/resources/js/jquery.validate.js"></script>    			
		<script language="JavaScript" type="text/javascript" src="/resources/js/jquery.form.wizard.js"></script>
   		<script language="JavaScript" type="text/javascript" src="/resources/js/jquery.timers.js"></script>
		<script language="JavaScript" type="text/javascript" src="/resources/js/jquery.ui.progressbar.js"></script>
        
        <script language="JavaScript" type="text/javascript">
  			jQuery.fn.center = function () {    
 				this.css("position","absolute");     
 				this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");     
 				this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");     
 				return this;
 			}
         </script>
        
        {% block header_javascript_page %}
        {% endblock header_javascript_page %}
    </head>
    {% block body %}
    <body id="{% if PROD %}background{% else %}testbackground{% endif %}">
    	{% block body_header%}
    	{% if not EMAIL %}
		<div id="{% if PROD %}text{% else %}testtext{% endif %}">TEST</div>
        <div id="spinner" class="spinner" style="display:none">
            <img src="/resources/images/spinner.gif" alt="Loading..." />
        </div>
        <div id="eimLogo">
        	<a href="http://www.eimgroup.ch"><img src="/resources/images/eim_logo.gif" alt="EIM Group" border="0" /></a>
        	<div id="eimApp">
        		SAA Tool [{{ VERSION }}]<br/>
        		{% if remoteUser %}<div id="eimUser">{{user.first_name}} {{user.last_name}}</div>{% endif %}
        	</div><br/>        	        	
        </div>
        {% endif %}
        {% endblock body_header%}
        {% block body_content%}
        {% endblock body_content%}                       
    </body>
    {% endblock body %}
    <script language="JavaScript" type="text/javascript">
    {% block footer_javascript_page %}
    {% endblock footer_javascript_page %}
    </script>
</html>