<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>








{% extends "index_layout.html" %}

{% block index_content %}

{% if error_message %}
<div class="errors">{{error_message}}</div>
{% endif %}

<form action="/RiskParity" method="post" class="form" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
 	{{ form.as_table }}
	</table>
	<div>
		<input class="redirectTo" type="submit" name="Submit" value="Get Risk Parity" />
	</div>
</form>



{% endblock %}