<link rel="stylesheet" href="/resources/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery-1.11.min.js"></script>
<script src="/resources/js/bootstrap_min.js"></script>
<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css"/>

{% extends "index_layout.html" %}

{% block index_content %}

{% if error_message %}
<div class="errors">{{error_message}}</div>
{% endif %}

{% load static %}

<link rel="stylesheet" href="/resources/css/checkbox_dropdown.css"/>

<script src="/resources/js/bootstrap_multiselect.js"
        type="text/javascript"></script>
	
    <script type="text/javascript">
		{% for key,value in field.items %}
		$(function () {
			
            $('#{{ key }}').multiselect({
                includeSelectAllOption: true
            });
			$('#{{ key }}').multiselect('selectAll',false);
			
			$('#{{ key }}').multiselect('updateButtonText',true);
			
        });
        {% endfor %}
		
		function onclick_fn() {
		{% for key,value in field.items %}
			var {{ key }}_choices = [];
			var els = document.getElementById('{{ key }}');
			for (var i=0;i<els.length;i++){
			if ( els[i].selected ) {
				{{ key }}_choices.push(els[i].value);
				}
			}
			alert({{ key }}_choices.length);
		{% endfor %}
		
		
			};
			
function addRow() {
          
    var myName = document.getElementById("name");
    var age = document.getElementById("age");
    var table = document.getElementById("myTableData");
 
    var rowCount = table.rows.length;

    var row = table.insertRow(rowCount);

    row.insertCell(0).innerHTML= '<input type="checkbox" value = "Delete" onClick="Javacsript:deletRow(this)" checked="true">';
    row.insertCell(1).innerHTML= "Asset ID";
    row.insertCell(2).innerHTML= "Asset Name";
	table.deleteRow(2);
 
}
 
function deleteRow(obj) {
      
    var index = obj.parentNode.parentNode.rowIndex;
    var table = document.getElementById("myTableData");
    table.deleteRow(index);
    
}
 
// AJAX for posting

function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "/Screen2", // the endpoint
        type : "get", // http method
        data : { the_post : $('#post-text').val() }, // data sent with the post request
        // handle a successful response
        success : function(data) {
		//$('#post-text').val('');
		//var x = $('.row.replace').html(data);
		dynamic_data = JSON.parse(data.attr('STYLE'));
		//alert(x.toSource());
		alert(dynamic_data);
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
				alert("inside AJAX");
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function addTable() {
      
    var myTableDiv = document.getElementById("myDynamicTable");
      
    var table = document.createElement('TABLE');
    table.border='1';
    
    var tableBody = document.createElement('TBODY');
    table.appendChild(tableBody);
      
    for (var i=0; i<3; i++){
       var tr = document.createElement('TR');
       tableBody.appendChild(tr);
       
       for (var j=0; j<4; j++){
           var td = document.createElement('TD');
           td.width='75';
           td.appendChild(document.createTextNode("Cell " + i + "," + j));
           tr.appendChild(td);
       }
    }
    myTableDiv.appendChild(table);
    
}
 
function load() {
    
    console.log("Page load finished");
 
}

		
	</script>
	
<div class="container">

  <div class="jumbotron" >
  
  	{% for key,value in field.items %}
	
    <div class="col-sm-2">
      <h6>{{ key }}</h6>
	  
	<select multiple="multiple" name='checks_{{ key }}' id="{{ key }}" title="{{ key }}" value="{{ key.id }}">
	
	  {% for values in value %}
      <option type="checkbox" value="{{ values }}">{{ values }}</option>
	  
		{% endfor %}
	</select>
    </div>
	
	{% endfor %}
	<button width="81%"" style="font: bold 14px Arial" onclick="create_post()">Get Assets list</button>
  </div>
</div>
	
<div id="mydata">
<b>Assets as per the filters applied above  ...</b>
<table id="myTableData"  border="1" cellpadding="4"">
    <tr>
        <td>&nbsp;</td>
        <td><b>Asset Name</b></td>
        <td><b>Asset ID</b></td>
    </tr>
</table>
&nbsp;
 
</div>




{% endblock %}
