<link rel="stylesheet" href="/resources/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery-1.7.min.js"></script>
<script src="/resources/js/bootstrap_min.js"></script>
<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css"/>

{% extends "index_layout.html" %}

{% block index_content %}

{% if error_message %}
<div class="errors">{{error_message}}</div>
{% endif %}
<p>Inside screen 2 </p>
<!--
<form action="/Screen3" method="get" class="form" enctype="multipart/form-data"> {% csrf_token %}
<div class="container">
  <div class="jumbotron" >
  
  	{% for value in field %}
	
    <div class="col-sm-2">
      
	<select multiple="multiple" name='checks_{{ value }}' id="{{ key }}" title="{{ value }}" value="{{ value.id }}">
	  {% for index in value %}
      <option type="checkbox" value="{{ index }}">{{ index }}</option>
	  
		{% endfor %}
	
	</select>
    </div>
	{% endfor %}
  </div>
</div>
	<div>
		<input class="button" type="submit" name="Get_Assests" value="get_assets" />
	</div

</form>

<table style="width:100%">
  	{% for value in field %}
	  <tr id={{ value }} class={{ value }}>
	  <input type="checkbox" name='checks[]' value={{ value }}></input>
	  <td id={{ value }} class={{ value }}>{{ index }}</td>
	  {% for index in value %}
	  <td id={{ value }} class={{ value }}>{{ index }}</td>
	  {% endfor %}
		</tr>
	{% endfor %}
  </div>
  </table>
</div>
</form>
-->


{% endblock %}
