{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h2>List of all singles</h2>
	

<table>
{% for single in singles %}
			<tr><td><a href="/single/{{single.id}}">{{single.name}}</a></td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
