{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h1>{{single.name}}</h1>
</div>

<div>
	<h2>Available stats</h2>
	
	<table>
	{% for stat in stats %}
				<tr><td><a href="/single/{{single.id}}/stat/{{stat.id}}">{{stat.label}}</a></td></tr>
	{% endfor %}
	</table>
</div>

{% endblock %}
