{% extends "index_layout.html" %}

{% block index_content %}

<div>
	<h1>{{entity.name}}</h1>
</div>

<div>
	<h2>{{stat.label}}</h2>
	
	<table>
	<thead>
		<tr><th class="header"></th>
		{% for column in result.get_columns %}
			<th class="header">{{column}}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in result.get_rows %}
			<tr>
				<td>{{row|date:"D d M Y"}}</td>
				{% for column in result.get_columns %}
					<td>{{ result|args:column|args:row|callMethod:'get_detail'|default_if_none:"" }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}
