#dashboard tfoot {
	text-align: right;
}

#dashboard .chart_info {
	color: rgb(0, 0, 255);
}

#dashboard .chart_warning {
	color: rgb(255, 102, 0);
}

#dashboard .chart_error {
	color: rgb(255, 0, 0);
}

#dashboard table caption {
	font-size: 20px;
	margin-bottom: 10px;
}

#dashboard table {
	margin-left: auto;
 	margin-right: auto;
	width: 90%;
	margin-bottom: 20px;
}

#dashboard tr * {
	text-align: center;
  	vertical-align: middle;
  	padding: 2px;
}

#dashboard tr th:not(.header) {
	background-image: none;
	background-color: #f0f0f0;
}

#dashboard tr th:FIRST-CHILD, #dashboard tr td:FIRST-CHILD {
	text-align: left;
}

#dashboard table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#scheduleTable td, #scheduleTable th {
	padding-top: 6px;
	padding-bottom: 6px;
}

#dashboard_status {
	margin: 20px 40px;
	text-align: right;
	font-style: italic;
}

#dashboard .status_info {
    background-color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5);
}

#dashboard .status_info:hover {
    background-color: rgba(0, 0, 255, 1);
}

#dashboard .status_warning {
	background-color: rgb(255, 102, 0);
    background-color: rgba(255, 102, 0, 0.5);
}

#dashboard .status_warning:hover {
    background-color: rgba(255, 102, 0, 1);
}

#dashboard .status_error {
	background-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
}

#dashboard .status_error:hover {
    background-color: rgba(255, 0, 0, 1);
}

#dashboard .status_failure {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#dashboard .status_failure:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

#dashboard .status_success {
    background-color: rgb(98, 202, 53);
    background-color: rgba(98, 202, 53, 0.5);
}

#dashboard .status_success:hover {
    background-color: rgba(98, 202, 53, 1);
}

#dashboard button.generate {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

/* Tooltip anchor */

#dashboard a {
	display: block; 
  	color: black;
  	text-align: center;
  	font-weight: normal;
}

/* Tooltip div */

#dashboard td.tooltip:hover {
	position: relative;
}

#dashboard td.tooltip div {
	position: absolute;
	visibility: hidden;
	width: 500px;
	top: 30px; left: -200px;
	background-color: WhiteSmoke;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

#dashboard td.tooltip div * {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
	
#dashboard td.tooltip:hover div {
	visibility: visible;
}


#dashboard li {
	font-weight: normal;
	text-align: left;
}

#dashboard ul {
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

/* Sort table */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #f0f0f0;
}

table.tablesorter thead tr .header {
	background-image: url(/resources/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(/resources/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(/resources/images/desc.gif);
}