#nav {
	margin-top: 0px;
	margin-left: 0px;
	width: 270px;
	float: left;
}

#wizardWrapper {
	padding: 1em;
	width: 500px;
	border-style: solid;
}

#fieldWrapper {
	
}

#wizardNavigation {
	margin-top: 0.5em;
	margin-right: 1em;
	text-align: right;
}

#data {
	font-size: 1em;
}

input {
	margin-right: 0.1em;
	margin-bottom: 0.5em;
}

.input_field_25em {
	width: 2.5em;
}

.input_field_3em {
	width: 3em;
}

.input_field_35em {
	width: 3.5em;
}

.input_field_12em {
	width: 20em;
}

.input_field_50em {
	width: 50em;
}

label {
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 0.8em;
}

.reportLink a {
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 11px;
	color: #002B7F;
	text-decoration: underline;
}

.reportLink a:hover {
	color: red;
}

label.error {
	color: red;
	font-size: 0.8em;
	margin-left: 0.5em;
}

.step span {
	float: right;
	font-weight: bold;
	padding-right: 0.8em;
	margin-bottom: 10px;
}

.navigation_button {
	width: 70px;
}

.back_button {
	background: url(/resources/images/skin/navigate_left.png) center left
		no-repeat;
	width: 70px;
}

.next_button {
	width: 70px;
	background: url(/resources/images/skin/navigate_right.png) center right
		no-repeat;
}

.progress {
	padding: 5px;
	text-align: center;
	display: none;
	font-weight: bold;
	font-size: 16px;
}

#progress-bar {
	width: 250px;
}

.liError {
	color: red;
}

#data {
	overflow: auto;
}

#wizardForm {
	margin: 20px;
	padding: 10px;
}

#resultForm {
	margin: 20px;
	padding: 10px;
}

#resultArea {
	margin: 20px;
	padding: 10px;
}

#status {
	margin: 20px;
	color: red;
	font-weight: bold;
}

.ui-progressbar-value {
	background-image: url(/resources/images/progress.gif);
}

#dw_error {
	color: Purple;
}

#error_msgs h4,#error_msgs ul {
	color: red;
	line-height: 140%;
}

#warning_msgs h4,#warning_msgs ul {
	color: #FF6C00;
	line-height: 140%;
}

#info_msgs h4,#info_msgs ul {
	color: blue;
	line-height: 140%;
}

#error_msgs>ul,#warning_msgs>ul,#info_msgs>ul {
	list-style-type: none;
}

#error_msgs>ul>li,#warning_msgs>ul>li,#info_msgs>ul>li {
	font-weight: bold;
	margin-top: 3px;
}

#error_msgs ul li ul,#warning_msgs ul li ul,#info_msgs ul li ul {
	list-style-type: disc;
}

#error_msgs ul li ul li,#warning_msgs ul li ul li,#info_msgs ul li ul li
	{
	font-weight: normal;
}

#error_msgs p,#warning_msgs p,#info_msgs p {
	font-style: italic;
	line-height: 140%;
}

#info_msgs div {
	margin: 5px 0px 10px 0px;
	padding: 5px;
	border: 1px solid blue;
	line-height: 100%;
}

#open_new_window {
	width: 200px;
	padding: 5px;
	border: 1px solid Gray;
	background-color: LightGrey;
	color: Gray;
	text-align: center;
}

#generate_reports_without_errors {
	font: 11px verdana, arial, helvetica, sans-serif;
	border: 1px solid Blue;
	background-color: LightBlue;
	color: Blue;
	text-align: center;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

#zip_link {
	width: 100px;
	padding: 5px;
	border: 1px solid Green;
	background-color: LightGreen;
	color: Green;
	text-align: center;
}

#nav {
	margin-top: 0px;
	margin-left: 0px;
	width: 270px;
	float: left;
}

#wizardWrapper {
	padding: 1em;
	width: 500px;
	border-style: solid;
}

#fieldWrapper {
	
}

#wizardNavigation {
	margin-top: 0.5em;
	margin-right: 1em;
	text-align: right;
}

#data {
	font-size: 1em;
}

input {
	margin-right: 0.1em;
	margin-bottom: 0.5em;
}

.input_field_25em {
	width: 2.5em;
}

.input_field_3em {
	width: 3em;
}

.input_field_35em {
	width: 3.5em;
}

.input_field_12em {
	width: 20em;
}

.input_field_50em {
	width: 50em;
}

label {
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 0.8em;
}

label.error {
	color: red;
	font-size: 0.8em;
	margin-left: 0.5em;
}

.step span {
	float: right;
	font-weight: bold;
	padding-right: 0.8em;
	margin-bottom: 10px
}

.navigation_button {
	width: 70px;
}

.back_button {
	background: url(/resources/images/skin/navigate_left.png) center left
		no-repeat;
	width: 70px;
}

.next_button {
	width: 70px;
	background: url(/resources/images/skin/navigate_right.png) center right
		no-repeat;
}

.progress {
	padding: 5px;
	text-align: center;
	display: none;
	font-weight: bold;
	font-size: 16px;
}

#data {
	overflow: auto;
}

#wizardForm {
	margin: 20px;
	padding: 10px;
}

#resultArea {
	margin: 20px;
	padding: 10px;
}

#status {
	margin: 20px;
	color: red;
	font-weight: bold;
}

table {
	border: 1px solid #ccc;
}

.noborder {
	border: 0;
}

table.rowborder {
	border-collapse: collapse;
	border: 0;
}

table.rowborder td {
	border: 0;
}

table.rowborder tr.oneInput td {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

/* ONE PAGE - EDITION */
textarea.textinput {
	width: 95%;
	vertical-align: top;
}

.rowSelected {
	background-color: #002B7F;
	color: white;
}

#\/edition,#editionSuccessLabel {
	margin-left: 30px;
}