#lifecycle tfoot {
	text-align: right;
}

#lifecycle .date-picker {
	width: 110px;	
}

#lifecycle .chart_info {
	color: rgb(0, 0, 255);
}

#lifecycle .chart_warning {
	color: rgb(255, 102, 0);
}

#lifecycle .chart_error {
	color: rgb(255, 0, 0);
}

#lifecycle table caption {
	font-size: 20px;
	margin-bottom: 10px;
}

#lifecycle table {
	margin-left: auto;
 	margin-right: auto;
	width: 98%;
	margin-bottom: 20px;
}

#lifecycle tr * {
	text-align: center;
  	vertical-align: middle;
  	padding: 2px;
}

#lifecycle tr th:not(.header) {
	background-image: none;
	background-color: #f0f0f0;
}

#lifecycle tr th.leftaligned, #lifecycle tr td.leftaligned, #lifecycle tr td.leftaligned a {
	text-align: left;
}

#lifecycle tr td.leftaligned a {
	font-weight: bold;
	font-size: 11px;
	color: #002B7F;
	text-decoration: underline;
	display: inline;
}

#lifecycle table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#scheduleTable td, #scheduleTable th {
	padding-top: 6px;
	padding-bottom: 6px;
}

#dashboard_status {
	margin: 20px 40px;
	text-align: right;
	font-style: italic;
}

#lifecycle .status_info {
    background-color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5);
}

#lifecycle .status_info:hover {
    background-color: rgba(0, 0, 255, 1);
}

#lifecycle .void {
    background-color: rgb(221, 221, 221);
    background-color: rgba(211, 211, 211, 0.5);
}
/*
    --------- WITH TRANSPARENCY ---------
    background-color: rgb(211, 211, 211);
    background-color: rgba(211, 211, 211, 0.5);
    --------- WITHOUT TRANSPARENCY ---------
    background-color: rgb(221, 221, 221);
*/

#lifecycle .generated {
    background-color: rgb(179, 115, 179);
    background-color: rgba(128, 0, 128, 0.5);
}
/*
    --------- WITH TRANSPARENCY ---------
    background-color: rgb(128, 0, 128);
    background-color: rgba(128, 0, 128, 0.5);
    --------- WITHOUT TRANSPARENCY ---------
    background-color: rgb(179, 115, 179);
*/

#lifecycle .invalid {
    background-color: rgb(243, 115, 115);
    background-color: rgba(255, 0, 0, 0.5);
}
/*
    --------- WITH TRANSPARENCY ---------
    background-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
    --------- WITHOUT TRANSPARENCY ---------
    background-color: rgb(243, 115, 115);
*/

#lifecycle .valid {
    background-color: rgb(115, 115, 255);
    background-color: rgba(0, 0, 255, 0.5);
}
/*
    --------- WITH TRANSPARENCY ---------
    background-color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5);
    --------- WITHOUT TRANSPARENCY ---------
    background-color: rgb(115, 115, 255);
*/

#lifecycle .stored {
    background-color: rgb(115, 243, 115);
    background-color: rgba(0, 255, 0, 0.5);
}
/*
    --------- WITH TRANSPARENCY ---------
    background-color: rgb(255, 0, 0);
    background-color: rgba(0, 255, 0, 0.5);
    --------- WITHOUT TRANSPARENCY ---------
    background-color: rgb(115, 243, 115);
*/

#lifecycle .status_warning {
	background-color: rgb(255, 102, 0);
    background-color: rgba(255, 102, 0, 0.5);
}

#lifecycle .status_warning:hover {
    background-color: rgba(255, 102, 0, 1);
}

#lifecycle .status_error {
	background-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
}

#lifecycle .status_error:hover {
    background-color: rgba(255, 0, 0, 1);
}

#lifecycle .status_failure {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#lifecycle .status_failure:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

#lifecycle .status_success {
    background-color: rgb(98, 202, 53);
    background-color: rgba(98, 202, 53, 0.5);
}

#lifecycle .status_success:hover {
    background-color: rgba(98, 202, 53, 1);
}

#lifecycle button.generate, #lifecycle button.validate, #lifecycle button.store {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

/* Tooltip anchor */

#lifecycle a {
	display: block; 
  	color: black;
  	text-align: center;
  	font-weight: normal;
}

/* Tooltip div */

#lifecycle td.tooltip:hover {
	position: relative;
}

#lifecycle td.tooltip div {
	position: absolute;
	visibility: hidden;
	width: 500px;
	top: 30px; left: -200px;
	background-color: WhiteSmoke;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	padding: 5px;
}

#lifecycle td.tooltip div * {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
	
#lifecycle td.tooltip:hover div {
	visibility: visible;
}


#lifecycle li {
	font-weight: normal;
	text-align: left;
}

#lifecycle ul {
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

/* Sort table */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #f0f0f0;
}

table.tablesorter thead tr .header {
	background-image: url(/resources/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(/resources/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(/resources/images/desc.gif);
}

.livelinkauth tr td {
	font-size: 12px;
}